flows/Async_Framework_Control.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_DeletePending</name>
        <label>Apex Delete Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AsyncFramework_DeletePendingFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>your_result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>deleteAllCollection</name>
            <value>
                <elementReference>var_deletePendingCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AsyncFramework_DeletePendingFlow</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_Result</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Apex_Diagnostric</name>
        <label>Apex Diagnostric</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AsyncFramework_Diagnostic</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>your_result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>AsyncFramework_Diagnostic</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_Result</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>apex_run_cleanup</name>
        <label>Run Cleanup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AsyncFramework_CleanupControl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>your_result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>START</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AsyncFramework_CleanupControl</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_Result</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>apex_run_daily_cleanup</name>
        <label>Run Daily Cleanup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AsyncFramework_CleanupControl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>cleanup_daily_done</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>START_DAILY</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AsyncFramework_CleanupControl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>apex_start_Worker</name>
        <label>apex start Worker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AsyncFramework_ForceStart</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>your_result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>AsyncFramework_ForceStart</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_Result</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>apex_stop_cleanup</name>
        <label>Stop Cleanup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AsyncFramework_CleanupControl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>cleanup_stop_done</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>STOP</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AsyncFramework_CleanupControl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>apex_stop_scheduler</name>
        <label>apex stop scheduler</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AsyncFramework_StopSchedulers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>your_result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>AsyncFramework_StopSchedulers</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_Result</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>initial_Apex_Scheduler_param</name>
        <label>initial Apex Scheduler param</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AsyncSchedulerSetup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>collect_values</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>GET_INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>frequencyMinutes</name>
        </inputParameters>
        <inputParameters>
            <name>jobName</name>
        </inputParameters>
        <nameSegment>AsyncSchedulerSetup</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Start_daily</name>
        <label>Start daily</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AsyncFramework_StatisticsControl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>daily_calculation_start</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>START_DAILY</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AsyncFramework_StatisticsControl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>start_statistic_calculation</name>
        <label>start statistic calculation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AsyncFramework_StatisticsControl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>var_result_static</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>START</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AsyncFramework_StatisticsControl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>stop_statistic_calculation</name>
        <label>stop statistic calculation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AsyncFramework_StatisticsControl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dialy_calculation_stop</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>STOP</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AsyncFramework_StatisticsControl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_build_delete_collection</name>
        <label>Build delete collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_deletePendingCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_deletePending</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apex_DeletePending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CleanupCount_0</name>
        <label>Assign Cleanup Count 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CleanupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Cleanup_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cleanup_SubMenu</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_StatisticsCount_0</name>
        <label>Assign Statistics Count 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_StatisticsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Statistics_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Statistic_SubMenu</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_deletePending_false</name>
        <label>Assign var_deletePending false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_deletePending</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Pending_Confirm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_deletePending_true</name>
        <label>Assign var_deletePending true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_deletePending</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Pending_Confirm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cleanup_daily_done</name>
        <label>cleanup daily done</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apex_run_daily_cleanup.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>your_result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cleanup_stop_done</name>
        <label>cleanup stop done</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apex_stop_cleanup.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>your_result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collect_values</name>
        <label>collect values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initial_Apex_Scheduler_param.success</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initial_Apex_Scheduler_param.message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasSchedulerJob</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initial_Apex_Scheduler_param.hasSchedulerJob</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>schedulerNextExecution</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initial_Apex_Scheduler_param.schedulerNextExecution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>schedulerFrequencyMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initial_Apex_Scheduler_param.schedulerFrequencyMinutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasWorkerActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initial_Apex_Scheduler_param.hasWorkerActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workerStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initial_Apex_Scheduler_param.workerStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SMATCH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>daily_calculation_start</name>
        <label>daily calculation start</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_daily.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>your_result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>dialy_calculation_stop</name>
        <label>dialy calculation stop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stop_statistic_calculation.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>your_result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>var_result_static</name>
        <label>var result static</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>start_statistic_calculation.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>your_result</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BackToMainMenu</name>
        <choiceText>{!$Label.Smatch_Choice_BackToMainMenu}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BACK</stringValue>
        </value>
    </choices>
    <choices>
        <name>CleanupCategory</name>
        <choiceText>{!$Label.Smatch_Choice_CleanupCategory}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clean up</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConfirmDelete</name>
        <choiceText>{!$Label.Smatch_Choice_ConfirmDelete}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CONFIRM</stringValue>
        </value>
    </choices>
    <choices>
        <name>DailyCalculationOption</name>
        <choiceText>{!$Label.Smatch_Choice_DailyCalculationOption}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily calculation</stringValue>
        </value>
    </choices>
    <choices>
        <name>DailyCleanup</name>
        <choiceText>{!$Label.Smatch_Choice_DailyCleanup}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plan Daily Cleanup</stringValue>
        </value>
    </choices>
    <choices>
        <name>DailyStatCalculation</name>
        <choiceText>{!$Label.Smatch_Choice_DailyStat}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plan a Statistic Daily Calculation</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeletePendingAll</name>
        <choiceText>{!$Label.Smatch_Choice_DeletePendingAll}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DeleteAll</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeletePendingPreserveStats</name>
        <choiceText>{!$Label.Smatch_Choice_DeletePendingPreserveStats}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PreserveStats</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeletePendingTasks</name>
        <choiceText>{!$Label.Smatch_Choice_DeletePendingTasks}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supprimer les tâches en attente</stringValue>
        </value>
    </choices>
    <choices>
        <name>Diagnostic</name>
        <choiceText>{!$Label.Smatch_Choice_Diagnostic}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Diagnostic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Force_Start_Worker</name>
        <choiceText>{!$Label.Smatch_Choice_ForceStart}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Force Start Worker</stringValue>
        </value>
    </choices>
    <choices>
        <name>RunCleanup</name>
        <choiceText>{!$Label.Smatch_Choice_RunCleanup}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Run Cleanup</stringValue>
        </value>
    </choices>
    <choices>
        <name>StartStatistic</name>
        <choiceText>{!$Label.Smatch_Choice_StartStatistic}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Start Statistic</stringValue>
        </value>
    </choices>
    <choices>
        <name>StatisticCategory</name>
        <choiceText>{!$Label.Smatch_Choice_StatisticCategory}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Statistic</stringValue>
        </value>
    </choices>
    <choices>
        <name>StatisticOption</name>
        <choiceText>{!$Label.Smatch_Choice_StatisticOption}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Statistic</stringValue>
        </value>
    </choices>
    <choices>
        <description>Stop Schedulers</description>
        <name>Stop_Schedulers</name>
        <choiceText>{!$Label.Smatch_Choice_StopSchedulers}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stop Schedulers</stringValue>
        </value>
    </choices>
    <choices>
        <name>StopCleanup</name>
        <choiceText>{!$Label.Smatch_Choice_StopCleanup}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stop Cleanup</stringValue>
        </value>
    </choices>
    <choices>
        <name>StopStatistic</name>
        <choiceText>{!$Label.Smatch_Choice_StopStatistic}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stop Statistic</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_CleanupSubMenu</name>
        <label>Cleanup submenu choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Cleanup_SubMenu</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Cleanup_Run_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Cleanup_SubOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RunCleanup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apex_run_cleanup</targetReference>
            </connector>
            <label>Run Cleanup</label>
        </rules>
        <rules>
            <name>Cleanup_Daily_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Cleanup_SubOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DailyCleanup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apex_run_daily_cleanup</targetReference>
            </connector>
            <label>Daily Cleanup</label>
        </rules>
        <rules>
            <name>Cleanup_Stop_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Cleanup_SubOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StopCleanup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apex_stop_cleanup</targetReference>
            </connector>
            <label>Stop Cleanup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ConfirmOrBack</name>
        <label>Decision Confirm or Back</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SMATCH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Retour menu</defaultConnectorLabel>
        <rules>
            <name>Confirmer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConfirmDelete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_build_delete_collection</targetReference>
            </connector>
            <label>Confirmer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_DeletePendingMode</name>
        <label>Decision Delete Pending Mode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_var_deletePending_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PreserveStats</defaultConnectorLabel>
        <rules>
            <name>DeleteAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_DeletePending_Mode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeleteAll</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_var_deletePending_true</targetReference>
            </connector>
            <label>DeleteAll</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_StatisticSubMenu</name>
        <label>Statistic submenu choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Statistic_SubMenu</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Statistic_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Statistic_SubOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StatisticOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>start_statistic_calculation</targetReference>
            </connector>
            <label>Statistic</label>
        </rules>
        <rules>
            <name>DailyCalculation_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Statistic_SubOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DailyCalculationOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_daily</targetReference>
            </connector>
            <label>Daily calculation</label>
        </rules>
        <rules>
            <name>Statistic_Stop_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Statistic_SubOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StopStatistic</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>stop_statistic_calculation</targetReference>
            </connector>
            <label>Stop Statistic</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_action</name>
        <label>What action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SMATCH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default output</defaultConnectorLabel>
        <rules>
            <name>diagnostic_choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_an_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Diagnostic</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Diagnostric</targetReference>
            </connector>
            <label>diagnostic choice</label>
        </rules>
        <rules>
            <name>Force_Start_Worker_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_an_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Force_Start_Worker</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apex_start_Worker</targetReference>
            </connector>
            <label>Force Start Worker Choice</label>
        </rules>
        <rules>
            <name>stop_schedulers_choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_an_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Stop_Schedulers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apex_stop_scheduler</targetReference>
            </connector>
            <label>stop schedulers choice</label>
        </rules>
        <rules>
            <name>Statistic_category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_an_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StatisticCategory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Statistics_Tasks</targetReference>
            </connector>
            <label>Statistic category</label>
        </rules>
        <rules>
            <name>Cleanup_category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_an_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CleanupCategory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cleanup_Tasks</targetReference>
            </connector>
            <label>Clean up category</label>
        </rules>
        <rules>
            <name>Delete_Pending_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_an_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeletePendingTasks</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Pending_Choice</targetReference>
            </connector>
            <label>Delete Pending Tasks</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_CleanupMessage</name>
        <dataType>String</dataType>
        <expression>IF({!var_CleanupCount} &gt; 0, SUBSTITUTE({!$Label.Smatch_Cleanup_AlreadyScheduled}, &quot;{0}&quot;, TEXT({!var_CleanupCount})), {!$Label.Smatch_Cleanup_NothingScheduled})</expression>
    </formulas>
    <formulas>
        <name>formula_StatisticsMessage</name>
        <dataType>String</dataType>
        <expression>IF({!var_StatisticsCount} &gt; 0, SUBSTITUTE({!$Label.Smatch_Stats_DailyAlreadyScheduled}, &quot;{0}&quot;, TEXT({!var_StatisticsCount})), {!$Label.Smatch_Stats_NothingInProgress})</expression>
    </formulas>
    <interviewLabel>Async Framework Control {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Async Framework Control</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cleanup_Tasks</name>
        <label>Get Cleanup Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CleanupCount_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Class_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AsyncCleanupTask</stringValue>
            </value>
        </filters>
        <filters>
            <field>Executed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cancelled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SF_Async__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Statistics_Tasks</name>
        <label>Get Statistics Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_StatisticsCount_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Class_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AsyncStatisticsTask</stringValue>
            </value>
        </filters>
        <filters>
            <field>Executed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cancelled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SF_Async__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cleanup_SubMenu</name>
        <label>Clean up - Submenu</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_CleanupSubMenu</targetReference>
        </connector>
        <fields>
            <name>Cleanup_SubMenu_Text</name>
            <fieldText>{!$Label.Smatch_Screen_CleanupSubMenu}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cleanup_Status_Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.Smatch_Screen_CleanupStatusLabel}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formula_CleanupMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Choose_Cleanup_SubOption</name>
            <choiceReferences>RunCleanup</choiceReferences>
            <choiceReferences>DailyCleanup</choiceReferences>
            <choiceReferences>StopCleanup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.Smatch_Screen_ChooseOption}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delete_Pending_Choice</name>
        <label>Delete pending tasks - Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_DeletePendingMode</targetReference>
        </connector>
        <fields>
            <name>Delete_Pending_Choice_Text</name>
            <fieldText>{!$Label.Smatch_Screen_DeletePendingText}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Choose_DeletePending_Mode</name>
            <choiceReferences>DeletePendingAll</choiceReferences>
            <choiceReferences>DeletePendingPreserveStats</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.Smatch_Screen_DeletePendingMode}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delete_Pending_Confirm</name>
        <label>Deletion confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back to main menu</backButtonLabel>
        <connector>
            <targetReference>Decision_ConfirmOrBack</targetReference>
        </connector>
        <fields>
            <name>Delete_Pending_Confirm_Alert</name>
            <fieldText>{!$Label.Smatch_Screen_ConfirmDeletionAlert}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirm_Choice</name>
            <choiceReferences>BackToMainMenu</choiceReferences>
            <choiceReferences>ConfirmDelete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.Smatch_Screen_ConfirmChoice}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SMATCH</name>
        <label>SMATCH</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_action</targetReference>
        </connector>
        <fields>
            <name>SMATCH_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SMATCH_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Show_info</name>
                    <fieldText>&lt;p&gt;success	: {!success}&lt;/p&gt;&lt;p&gt;message	:{!message}&lt;/p&gt;&lt;p&gt;hasSchedulerJob	:{!hasSchedulerJob}&lt;/p&gt;&lt;p&gt;{!schedulerNextExecution}:&lt;/p&gt;&lt;p&gt;schedulerFrequencyMinutes	: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!schedulerFrequencyMinutes}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;hasWorkerActive	: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!hasWorkerActive}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;workerStatus: {!workerStatus}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>title</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(10, 81, 221);&quot;&gt;SM&lt;/strong&gt;art &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(10, 81, 221);&quot;&gt;A&lt;/strong&gt;sync &lt;strong style=&quot;color: rgb(10, 81, 221); background-color: rgb(255, 255, 255);&quot;&gt;T&lt;/strong&gt;ask &lt;strong style=&quot;color: rgb(10, 81, 221);&quot;&gt;CH&lt;/strong&gt;aining - {!$Label.Smatch_Screen_ChooseAction}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Choose_an_action</name>
                    <choiceReferences>Diagnostic</choiceReferences>
                    <choiceReferences>Force_Start_Worker</choiceReferences>
                    <choiceReferences>Stop_Schedulers</choiceReferences>
                    <choiceReferences>StatisticCategory</choiceReferences>
                    <choiceReferences>CleanupCategory</choiceReferences>
                    <choiceReferences>DeletePendingTasks</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Diagnostic</defaultSelectedChoiceReference>
                    <fieldText>{!$Label.Smatch_Screen_ChooseAction}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SMATCH_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ace_sync_omage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>Ace_sync_smatch</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Statistic_SubMenu</name>
        <label>Statistic - Submenu</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_StatisticSubMenu</targetReference>
        </connector>
        <fields>
            <name>Statistic_SubMenu_Text</name>
            <fieldText>{!$Label.Smatch_Screen_StatisticSubMenu}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Statistic_Status_Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.Smatch_Screen_StatisticStatusLabel}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formula_StatisticsMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Choose_Statistic_SubOption</name>
            <choiceReferences>StatisticOption</choiceReferences>
            <choiceReferences>DailyCalculationOption</choiceReferences>
            <choiceReferences>StopStatistic</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.Smatch_Screen_ChooseOption}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>your_result</name>
        <label>Your result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>result</name>
            <fieldText>&lt;p&gt;{!var_Result}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>initial_Apex_Scheduler_param</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>hasSchedulerJob</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasWorkerActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>schedulerFrequencyMinutes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>schedulerNextExecution</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CleanupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_CleanupRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SF_Async__c</objectType>
    </variables>
    <variables>
        <name>var_deletePending</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_deletePendingCollection</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Receive action(s) result in order to be display</description>
        <name>var_Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_StatisticsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_StatisticsRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SF_Async__c</objectType>
    </variables>
    <variables>
        <name>workerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
